body
{
	background-color: black;
	text-align: center;
	color: white;
	font-family: Verdana;
}

p.page_header
{
	font-weight: normal;
	font-size: 50px;
	text-align: center;
}

p.page_link
{
	font-size: 16px;
	color: aquamarine;
	text-align: center;
}

p.page_video
{
	text-align:center
}

p.page_subheader
{
	font-weight: 300;
	font-size: 42px;
}

p.page_content
{
	font-size: 21px;
	color: gray;
}

p.page_footer
{
	font-size: 21px;
	text-align: right;
	columns: gray;
}

a:link
{
	color: aquamarine
}
  
a:visited
{
	color: aquamarine
}
  
a:hover
{
	color: aquamarine
}
  
a:active
{
	color: aquamarine
}